<nav class="h-[80px] flex items-center px-5">
  <h2 class="m-0 font-bold text-xl text-white">TODO LIST</h2>
</nav>

<main class="todolist-wraper">

<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <div class="column-name py-3 bg-[#F4F4F4] flex items-center justify-center">
        <h2 class="m-0 font-bold text-[18px]">A fazer</h2>
      </div>

      <button  [cdkMenuTriggerFor]="menu" class="px-2 py-1 my-3 bg-[#7E73FF] text-white transition-colors hover:bg-[#5d53ca]">
        <i class="fas fa-plus"></i>
        Novo item
      </button>

      <ng-template #menu>
        <div class="card drop-shadow-md border-2 border-slate-400 p-2" cdkMenu>
          <form id="formNewCardCreator" [formGroup]="formNewCardCreator" class="flex flex-col" (submit)="addNewCard($event)">

            <mat-form-field class="mb-3">
              <mat-label>Título da tarefa</mat-label>
              <input matInput formControlName="title" placeholder="Ex. Fazer um to-do">
            </mat-form-field>

            <mat-form-field class="mb-3">
              <mat-label>Descrição da tarefa</mat-label>
              <textarea matInput
              formControlName="description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"placeholder="Ex. Criar um to-do list..."></textarea>
            </mat-form-field>

            <button type="submit" class="px-2 py-1 bg-[#7E73FF] text-white transition-colors hover:bg-[#5d53ca]">
              <i class="fas fa-plus"></i>
              Adicionar ao topo
            </button>
          </form>
        </div>
      </ng-template>

      <div class="cards-container bg-[#F4F4F4] p-2" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doingList, reviewList, doneList]" (cdkDropListDropped)="drop($event)">
        
        <div class="card p-2 cursor-pointer drop-shadow-md" *ngFor="let todo of todo" cdkDrag>
          <i (click)="removeCard(todo.id)" class="fas fa-trash-alt text-[12px] absolute right-[10px]"></i>
          <h3 class="m-0 text-[16px]">{{ todo.title }}</h3>
          <p class="line-clamp-3 text-[14px] mt-2 mb-0">{{ todo.description }}</p>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="column-name py-3 bg-[#F4F4F4] flex items-center justify-center">
        <h2 class="m-0 font-bold text-[18px]">Fazendo</h2>
      </div>

      <div class="cards-container bg-[#F4F4F4] p-2 mt-3" cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[todoList, reviewList, doneList]" (cdkDropListDropped)="drop($event)">
        <div class="card p-2 cursor-pointer drop-shadow-md" *ngFor="let doing of doing" cdkDrag>
          <i (click)="removeCard(doing.id)"  class="fas fa-trash-alt text-[12px] absolute right-[10px]"></i>
          <h3 class="m-0 text-[16px]">{{ doing.title }}</h3>
          <p class="line-clamp-3 text-[14px] mt-2 mb-0">{{ doing.description }}</p>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="column-name py-3 bg-[#F4F4F4] flex items-center justify-center">
        <h2 class="m-0 font-bold text-[18px]">Revisão</h2>
      </div>

      <div class="cards-container bg-[#F4F4F4] p-2 mt-3" cdkDropList #reviewList="cdkDropList" [cdkDropListData]="review" [cdkDropListConnectedTo]="[todoList, doingList, doneList]" (cdkDropListDropped)="drop($event)">
        <div class="card p-2 cursor-pointer drop-shadow-md" *ngFor="let review of review" cdkDrag>
          <i (click)="removeCard(review.id)" class="fas fa-trash-alt text-[12px] absolute right-[10px]"></i>
          <h3 class="m-0 text-[16px]">{{ review.title }}</h3>
          <p class="line-clamp-3 text-[14px] mt-2 mb-0">{{ review.description }}</p>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="column-name py-3 bg-[#F4F4F4] flex items-center justify-center">
        <h2 class="m-0 font-bold text-[18px]">Finalizado</h2>
      </div>

      <div class="cards-container bg-[#F4F4F4] p-2 mt-3" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)">
        <div class="card p-2 cursor-pointer drop-shadow-md" *ngFor="let done of done" cdkDrag>
          <i (click)="removeCard(done.id)"  class="fas fa-trash-alt text-[12px] absolute right-[10px]"></i>
          <h3 class="m-0 text-[16px]">{{ done.title }}</h3>
          <p class="line-clamp-3 text-[14px] mt-2 mb-0">{{ done.description }}</p>
        </div>
      </div>

    </div>

  </div>
</div>

</main>